streamlit
pandas
numpy
matplotlib
altair
pymongo==4.14.1
pyarrow
plotly
scipy
statsmodels
requests-cache
retry-requests
openmeteo-requests
folium
geopandas
shapely
streamlit-folium
scikit-learn
folium
geopandas
shapely